body{
    background-color: gray;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

#content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#card{
    background-color: white;
    width: 25vh;
}

#infoTrips{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
#title{
    background-color: white;
    text-align: center;
}
.infoTrips{
    background-color: white;
}
.info{
    background-color: white;
    margin: 15px;
}